# Riiid Data Wrangling

### Table of content<a id="TOC"></a>

* [Data Collection](#Step1)<br>
* [Data Organization](#Step2)<br>
* [Data Definition](#Step3)<br>
* [Data Cleaning](#Step4)<br>
* [Finalize Dataset](#Step5)<br>

## <a class="anchor" id="Step1">[Step one - Data Collection](#TOC)</a>

Organize your data to streamline the next steps of your capstone.
    1. import all the libraries
    2. Data loading
    3. Data joining

In [1]:
import pandas as pd

In [2]:
path = '/Users/adelsadr/Springboard/CapstoneTwoRiiid/riiid-test-answer-prediction/'

## <a class="anchor" id="Step2">[Step two - Data Organization](#TOC)</a>

Create a file structure and add your work to the GitHub repository youâ€™ve created for this project.
    1. File structure
    2. GitHub

## <a class="anchor" id="Step3">[Step three - Data Definition](#TOC)</a>

Gain an understanding of your data features to inform the
next steps of your project.
    1. Column names
    2. Data types
    3. Description of the columns
    4. Counts and percents unique values
    5. Ranges of values

In [3]:
example_sample_submission = pd.read_csv(path + 'example_sample_submission.csv')
example_sample_submission.info()
print('\n\n\n')
print(example_sample_submission.head())
print('\n\n\n')
example_sample_submission.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              104 non-null    int64
 1   answered_correctly  104 non-null    float64
 2   group_num           104 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 2.6 KB




   row_id  answered_correctly  group_num
0       0                 0.5          0
1       1                 0.5          0
2       2                 0.5          0
3       3                 0.5          0
4       4                 0.5          0

,count,mean,std,min,25%,50%,75%,max
row_id,104.0,53.480769,32.012734,0.0,25.75,53.5,80.25,108.0
answered_correctly,104.0,0.500000,0.000000,0.5,0.50,0.5,0.50,0.5
group_num,104.0,1.711538,1.094320,0.0,1.00,2.0,3.00,3.0

In [4]:
example_test = pd.read_csv(path + 'example_test.csv')
example_test.info()
print('\n\n\n')
print(example_test.head())
print('\n\n\n')
example_test.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   row_id                          104 non-null    int64
 1   group_num                       104 non-null    int64
 2   timestamp                       104 non-null    int64
 3   user_id                         104 non-null    int64
 4   content_id                      104 non-null    int64
 5   content_type_id                 104 non-null    int64
 6   task_container_id               104 non-null    int64
 7   prior_question_elapsed_time     103 non-null    float64
 8   prior_question_had_explanation  103 non-null    object
 9   prior_group_answers_correct     4 non-null      object
 10  prior_group_responses           4 non-null      object
dtypes: float64(1), int64(7), object(3)
memory usage: 9.1+ KB




   row_id  group_num    timestamp     user_id  content_id  content_type_id  \
0       0          0            0   275030867        5729                0
1       1          0  13309898705   554169193       12010                0
2       2          0   4213672059  1720860329         457                0
3       3          0  62798072960   288641214       13262                0
4       4          0  10585422061  1728340777        6119                0

   task_container_id  prior_question_elapsed_time  \
0                  0                          NaN
1               4427                      19000.0
2                240                      17000.0
3                266                      23000.0
4                162                      72400.0

  prior_question_had_explanation prior_group_answers_correct  \
0                            NaN                          []
1                           True                         NaN
2                           True                         NaN
3                           True                         NaN
4                           True                         NaN

  prior_group_responses
0                    []
1                   NaN
2                   NaN
3                   NaN
4                   NaN

,count,mean,std,min,25%,50%,75%,max
row_id,104.0,5.348077e+01,3.201273e+01,0.0,2.575000e+01,5.350000e+01,8.025000e+01,1.080000e+02
group_num,104.0,1.711538e+00,1.094320e+00,0.0,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00
timestamp,104.0,1.669283e+10,2.039655e+10,0.0,1.574161e+09,4.693169e+09,2.746557e+10,7.681646e+10
user_id,104.0,1.156358e+09,5.966096e+08,7792299.0,6.448233e+08,1.257605e+09,1.609175e+09,2.103437e+09
content_id,104.0,6.772702e+03,4.503711e+03,18.0,2.028750e+03,6.225500e+03,1.103125e+04,1.335400e+04
content_type_id,104.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
task_container_id,104.0,1.094413e+03,1.588054e+03,0.0,1.627500e+02,3.785000e+02,1.179000e+03,6.958000e+03
prior_question_elapsed_time,103.0,2.494963e+04,9.969309e+03,7000.0,1.800000e+04,2.466700e+04,2.887500e+04,7.240000e+04

In [5]:
lectures = pd.read_csv(path + 'lectures.csv')
lectures.info()
print('\n\n\n')
print(lectures.head())
print('\n\n\n')
lectures.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB




   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

,count,mean,std,min,25%,50%,75%,max
lecture_id,418.0,16983.401914,9426.164660,89.0,9026.25,17161.5,24906.25,32736.0
tag,418.0,94.480861,53.586487,0.0,50.25,94.5,140.00,187.0
part,418.0,4.267943,1.872424,1.0,2.00,5.0,6.00,7.0

In [6]:
questions = pd.read_csv(path + 'questions.csv')
questions.info()
print('\n\n\n')
print(questions.head())
print('\n\n\n')
questions.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13523 entries, 0 to 13522
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   question_id     13523 non-null  int64
 1   bundle_id       13523 non-null  int64
 2   correct_answer  13523 non-null  int64
 3   part            13523 non-null  int64
 4   tags            13522 non-null  object
dtypes: int64(4), object(1)
memory usage: 528.4+ KB




   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

,count,mean,std,min,25%,50%,75%,max
question_id,13523.0,6761.000000,3903.898180,0.0,3380.5,6761.0,10141.5,13522.0
bundle_id,13523.0,6760.510907,3903.857783,0.0,3379.5,6761.0,10140.0,13522.0
correct_answer,13523.0,1.455298,1.149707,0.0,0.0,1.0,3.0,3.0
part,13523.0,4.264956,1.652553,1.0,3.0,5.0,5.0,7.0

In [7]:
train = pd.read_csv(path + 'train.csv')
train.info()
print('\n\n\n')
print(train.head())
print('\n\n\n')
train.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB




   row_id  timestamp  user_id  content_id  content_type_id  task_container_id  \
0       0          0      115        5692                0                  1
1       1      56943      115        5716                0                  2
2       2     118363      115         128                0                  0
3       3     131167      115        7860                0                  3
4       4     137965      115        7922                0                  4

   user_answer  answered_correctly  prior_question_elapsed_time  \
0            3                   1                          NaN
1            2                   1                      37000.0
2            0                   1                      55000.0
3            0                   1                      19000.0
4            1                   1                      11000.0

  prior_question_had_explanation
0                            NaN
1                          False
2                          False
3                          False
4                          False

,count,mean,std,min,25%,50%,75%,max
row_id,101230332.0,5.061517e+07,2.922268e+07,0.0,2.530758e+07,5.061517e+07,7.592275e+07,1.012303e+08
timestamp,101230332.0,7.703644e+09,1.159266e+10,0.0,5.243436e+08,2.674234e+09,9.924551e+09,8.742577e+10
user_id,101230332.0,1.076732e+09,6.197163e+08,115.0,5.408116e+08,1.071781e+09,1.615742e+09,2.147483e+09
content_id,101230332.0,5.219605e+03,3.866359e+03,0.0,2.063000e+03,5.026000e+03,7.425000e+03,3.273600e+04
content_type_id,101230332.0,1.935222e-02,1.377596e-01,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
task_container_id,101230332.0,9.040624e+02,1.358302e+03,0.0,1.040000e+02,3.820000e+02,1.094000e+03,9.999000e+03
user_answer,101230332.0,1.376123e+00,1.192896e+00,-1.0,0.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00
answered_correctly,101230332.0,6.251644e-01,5.225307e-01,-1.0,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
prior_question_elapsed_time,98878794.0,2.542381e+04,1.994815e+04,0.0,1.600000e+04,2.100000e+04,2.966600e+04,3.000000e+05

## <a class="anchor" id="Step4">[Step four - Data Cleaning](#TOC)</a>

Clean up the data in order to prepare it for the next steps of
your project.
    1. NA or missing values
    2. Duplicates

## <a class="anchor" id="Step5">[Step five - Finalize Dataset](#TOC)</a>

Save the clean data to a csv file to use in the future processes.