# Case Study - Country Club

### Table of Content<a id="TOC"></a>
* [Introduction](#Intro)<a id="Intro"></a></br>
* [Part 1](#P1)</br>
    * [Question 1](#Q1)</br>
    * [Question 2](#Q2)</br>
    * [Question 3](#Q3)</br>
    * [Question 4](#Q4)</br>
    * [Question 5](#Q5)</br>
    * [Question 6](#Q6)</br>
    * [Question 7](#Q7)</br>
    * [Question 8](#Q8)</br>
    * [Question 9](#Q9)</br>
* [Part 2](#P2)</br>
    * [Question 10](#Q10)</br>
    * [Question 11](#Q11)</br>
    * [Question 12](#Q12)</br>
    * [Question 13](#Q13)</br>

## <a class="anchor" id="Intro">[Introduction](#TOC)</a>

Welcome to the SQL mini project. You will carry out this project partly in the PHPMyAdmin interface, and partly in Jupyter via a Python connection.

This is Tier 2 of the case study, which means that there'll be less guidance for you about how to setup your local SQLite connection in PART 2 of the case study. This will make the case study more challenging for you. You might need to do some digging, and revise the Working with Relational Databases in Python chapter in the previous resource. Otherwise, the questions in the case study are exactly the same as with Tier 1. 

PART 1: PHPMyAdmin
You will complete questions 1-9 below in the PHPMyAdmin interface. Log in by pasting the following URL into your browser, and using the following Username and Password:
URL: https://sql.springboard.com/
Username: student
Password: learn_sql@springboard

The data you need is in the "country_club" database. This database contains 3 tables:
    i) the "Bookings" table
    ii) the "Facilities" table, and
    iii) the "Members" table.

In this case study, you'll be asked a series of questions. You can solve them using the platform, but for the final deliverable, paste the code for each solution into this script, and upload it to your GitHub.

Before starting with the questions, feel free to take your time, exploring the data, and getting acquainted with the 3 tables.

## <a class="anchor" id="P1">[Part 1](#TOC)</a>

## <a class="anchor" id="Q1">[Question 1](#TOC)</a>

Some of the facilities charge a fee to members, but some do not. Write a SQL query to produce a list of the names of the facilities that do.

select name
from Facilities
where membercost > 0;

## <a class="anchor" id="Q2">[Question 2](#TOC)</a>

How many facilities do not charge a fee to members?

select count(*)
from(
	select name
	from Facilities
	where membercost = 0) as no_fee_facilities_cnt;

## <a class="anchor" id="Q3">[Question 3](#TOC)</a>

Write an SQL query to show a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost. Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

select facid, name, membercost, monthlymaintenance
from Facilities
where membercost > 0 and membercost < (0.2 * monthlymaintenance)

## <a class="anchor" id="Q4">[Question 4](#TOC)</a>

Write an SQL query to retrieve the details of facilities with ID 1 and 5. Try writing the query without using the OR operator.

select *
from Facilities
where facid in (1, 5);

## <a class="anchor" id="Q5">[Question 5](#TOC)</a>

Produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100. Return the name and monthly maintenance of the facilities in question.

select name, monthlymaintenance,
case
	when monthlymaintenance > 100 then 'expensive'
	else 'cheap'
end as label
from Facilities;

## <a class="anchor" id="Q6">[Question 6](#TOC)</a>

You'd like to get the first and last name of the last member(s) who signed up. Try not to use the LIMIT clause for your solution.

select firstname, surname
from Members
where joindate = 
	(select max(joindate)
     from Members);

## <a class="anchor" id="Q7">[Question 7](#TOC)</a>

Produce a list of all members who have used a tennis court. Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name.

select distinct F.name, concat(M.firstname, " ", M.surname) as member
from Facilities as F
left join Bookings as B
on F.facid = B.facid
left join Members as M
on B.memid = M.memid
where name like "Tennis%";

## <a class="anchor" id="Q8">[Question 8](#TOC)</a>

Produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30. Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user's ID is always 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.

select F.name, concat(M.firstname, " ", M.surname) as name_member, F.membercost as cost_member, F.guestcost as cost_guest, B.slots, B.memid,
case
	when B.memid = 0 then F.guestcost * B.slots
	else F.membercost * B.slots 
end as cost
from Bookings as B
left join Facilities as F
on B.facid = F.facid
left join Members as M
on B.memid = M.memid
where B.starttime like "2012-09-14%" and ((B.memid = 0 and F.guestcost * B.slots > 30) or (B.memid <> 0 and F.membercost * B.slots > 30))
order by cost DESC;

## <a class="anchor" id="Q9">[Question 9](#TOC)</a>

This time, produce the same result as in Q8, but using a subquery.

select F.name, concat(M.firstname, " ", M.surname) as name_member, F.membercost as cost_member, F.guestcost as cost_guest, B.slots, B.memid, B.starttime,
case
	when B.memid = 0 then F.guestcost * B.slots
	else F.membercost * B.slots 
end as cost
from Bookings as B, Facilities as F, Members as M
where B.starttime like "2012-09-14%" and
		B.facid in (select facid from Facilities where (B.memid = 0 and F.guestcost * B.slots > 30) or (B.memid <> 0 and F.membercost * B.slots > 30)) and
		B.memid in (select memid from Members)
order by cost DESC;

## these two queries producing different results and I don't understand which one is wrong and why?!

## <a class="anchor" id="P2">[Part 2](#TOC)</a>

SQLite - Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.

In [94]:
from sqlalchemy import create_engine
import pandas as pd

"""database_management_system = 'sqlite'
username = 'student'
password = 'learn_sql@springboard'
url = 'https://sql.springboard.com/'
database = 'country_club'"""

"""engine = create_engine('sqlite:///student:learn_sql@springboard@https://sql.springboard.com/country_club')"""

engine = create_engine('sqlite:////Users/adelsadr/Desktop/country_club.sqlite')

query1 = '''
show tables;
'''

tbl_df = pd.read_sql_query(query1, engine)
print(tbl_df)

OperationalError: (sqlite3.OperationalError) near "show": syntax error
[SQL:
show tables;
]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## as you see in the code I cannot create the engine to read the database!

## <a class="anchor" id="Q10">[Question 10](#TOC)</a>

Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [ ]:
query_Q10 = '''
SELECT B.facid, memid, SUM(slots) AS total_slots, membercost, guestcost,
CASE 
	WHEN memid = 0 THEN (guestcost * SUM(slots))
	WHEN memid <> 0 THEN (membercost * SUM(slots)) 
END as revenue 
FROM Bookings AS B
LEFT JOIN Facilities AS F ON F.facid = B.facid
GROUP BY facid
/*WHERE revenue < 1000*/
ORDER BY revenue;
'''

fac_rev_df = pd.read_sql_query(query_Q10, engine)
print(fac_rev_df)

## <a class="anchor" id="Q11">[Question 11](#TOC)</a>

Produce a report of members and who recommended them in alphabetic surname, firstname order.

In [ ]:
query_Q11 = '''
select M.surname as member_surname, M.firstname as member_firstname, R.surname as recommendedby_surname, 
	R.firstname as recommendedby_firstname
from Members as M
left join Members as R
on M.recommendedby = R.memid
order by member_surname, member_firstname;
'''

mbr_recmn_df = pd.read_sql_query(query_Q11, engine)
print(mbr_recmn_df)

## <a class="anchor" id="Q12">[Question 12](#TOC)</a>

Find the facilities with their usage by member, but not guests.

In [ ]:
query_Q12 = '''
select distinct F.facid, F.name, B.memid
from Facilities as F
left join Bookings as B
on F.facid = B.facid
where memid <> 0
order by memid;
'''

fac_mbr_df = pd.read_sql_query(query_Q12, engine)
print(fac_mbr_df)

## <a class="anchor" id="Q13">[Question 13](#TOC)</a>

Find the facilities usage by month, but not guests.

In [ ]:
query_Q13 = '''
select distinct F.facid, F.name, month(B.starttime) as Month
from Facilities as F
left join Bookings as B
on F.facid = B.facid
where memid <> 0
order by month;
'''

fac_month_df = pd.read_sql_query(query_Q13, engine)
print(fac_month_df)